{% extends 'maintemplate.html' %}

{% block top_label %}

{% endblock top_label %}

{% block title %}
    Album
{% endblock title %}

{% block main %}
    <div class="home-page">
        Album
    </div>
    <div class="container">
        {% for x in info_photo %}
            <div class="picture-child-box">
                <img src="{{media_url}}{{x.image_name}}" alt="{{imageName}}">
                <div class="detail-text-info">
                    {{x.text_info}}
                </div>
                <div class="date-of-shot">
                    <div>
                        <span>Published Date: </span>
                        <span class="text-success">{{x.register_date}}</span>
                    </div>
                    <div>
                        <span>Photography Date: </span>
                        <span class="text-success">{{x.shot_photo_date}}</span>
                    </div>
                </div>
            </div>
            <hr>
        {% endfor %}
        <div class="back-button-place">
            <a href="{% url 'gallery:photos' %}">
                <button class="btn btn-lg btn-success shadow-none rounded">Back</button>
            </a>
        </div>
    </div>    
{% endblock main %}